@import 'normalize.css/normalize.css';
@import './variables.scss';

body {
  font-family: $font-family;
  color: $font-default-color;
  min-height: 100vh;
}

.input {
  margin-top: 0.75rem;
  width: 15rem;
  height: 3em;
  border-radius: 15px;
  background: #fafafa;
  position: relative;
  border: none;
  outline: none;
  display: block;
  @media #{$screen-xs} {
    width: 80vw !important;
  }
}

input.input {
  padding-left: 10px;
  width: calc(15rem - 10px);
  @media #{$screen-xs} {
    width: calc(80vw - 10px) !important;
  }
}

.button {
  width: 15rem;
  margin-top: 1rem;
  height: 3em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  outline: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 5px 5px 5px -2px #00000033;
    filter: saturate(1.5);
  }

  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.5);
    box-shadow: none !important;
  }
}

.gradient-background {
  background: linear-gradient(245deg, #2e8ce4, #5ccef0, #5c8df0);
  background-size: 600% 600%;

  -webkit-animation: AnimatedBackground 30s ease infinite;
  -moz-animation: AnimatedBackground 30s ease infinite;
  animation: AnimatedBackground 30s ease infinite;
}


@-webkit-keyframes AnimatedBackground {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 17%;
  }
  100% {
    background-position: 0% 84%;
  }
}
@-moz-keyframes AnimatedBackground {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 17%;
  }
  100% {
    background-position: 0% 84%;
  }
}
@keyframes AnimatedBackground {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 17%;
  }
  100% {
    background-position: 0% 84%;
  }
}
